body {
	font-family: sans-serif;
	font-size: 1rem;
}
.item {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 90px;
}
.item .icon {
	width: 100%;
	height: 100%;
	position: relative;
}
.item .icon:before {
	content: "";
	width: 100%;
	height: 100%;
	background-size: contain;
	position: absolute;
	display: block;
}
.item .rare-1:before {
	background-image: url('/img/material/bg/item-1.png');
}
.item .rare-2:before {
	background-image: url('/img/material/bg/item-2.png');
}
.item .rare-3:before {
	background-image: url('/img/material/bg/item-3.png');
}
.item .rare-4:before {
	background-image: url('/img/material/bg/item-4.png');
}
.item .rare-5:before {
	background-image: url('/img/material/bg/item-5.png');
}
.item img {
	object-fit: contain;
	position: relative;
	margin: 10%;
	width: 90%;
	height: 90%;
}


.count {
  position: absolute;
  background: #111e;
  color: #ddd;
  border-radius: 6px;
  padding: 0 4px;
  font-size: 1em;
  right: 0;
  bottom: 0;
}
