.btn-char {
  padding: 2px;
}

.operator-info {
  display: flex;
  flex-direction: row;
}
.operator-info.xhdpi,
.operator-info.xxhdpi,
.operator-info.xxxhdpi {
  flex-direction: column;
}
.operator-info .avatar {
  flex: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.operator-info .name {
  background: #333;
  color: #aaa;
  padding: 2px 5px;
  flex: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.avatar img {
    background: #AAA;
}
.xxxhdpi .avatar img { width: 128px; height: 128px; }
.xxhdpi .avatar img { width: 96px; height: 96px; }
.xhdpi .avatar img { width: 64px; height: 64px; }
.hdpi .avatar img { width: 48px; height: 48px; }
.mdpi .avatar img { width: 32px; height: 32px; }
.ldpi .avatar img { width: 24px; height: 24px; background: transparent; }

.material-usage {
  margin: 2px 0;
  width: 100%;
  min-width: 50px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}


.skill-index {
  color:#ffffff;
  font-size:24px;
  font-weight:bold;
  background:#000;
  width:50%;
  float:left;
  margin-right:1px;
  padding:0px 5px 0px 5px;
  height: 40px;

  display:flex;
  justify-content:center;
  align-items:center;
  }

.skill-mastery {
  background:#222;
  width:50%;
  float:right;
  padding:0px 5px 0px 5px;
  height: 40px;

  display:flex;
  justify-content:center;
  margin-left:1px;
}

.skill-mastery img {
  width: 40px;
  height: 40px;
  object-fit: contain;  
}

.internal-container {
  position: relative;
  width:100px;
  height: 100px;
  }

.internal-container:before {
  content:"";
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
}

.internal-container.rare-1:before {
  background-image: url("/img/material/bg/item-1.png");
}
.internal-container.rare-2:before {
  background-image: url("/img/material/bg/item-2.png");
}
.internal-container.rare-3:before {
  background-image: url("/img/material/bg/item-3.png");
}
.internal-container.rare-4:before {
  background-image: url("/img/material/bg/item-4.png");
}
.internal-container.rare-5:before {
  background-image: url("/img/material/bg/item-5.png");
}
.internal-container.rare-6:before {
  background-image: url("/img/material/bg/item-6.png");
}

.item-image {
  top:0;
  left: 0;
  padding: 10px;
  z-index: 1;
  position: absolute;
  object-fit: contain;
  }

.item-amount {
  font-weight: bold;
  padding: 0px 2px 0px 2px;
  border-radius: 5px;
  z-index: 2;
  background-color: #000000;
}

.internal-container .item-amount {
  position: absolute;
  bottom: 0;
  right: 0;

}
