
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 14px;
}

.reward-set {
	font-family: monospace;
	font-size: 12px;
}
.reward-set:after {
	content: '▼';
	color: blue;
}

.task {
	background: #ddd;
	margin: 5px;
	display: grid;
	grid-template-columns: 50px 75px 21em 150px;
	align-items: center;
}

.requirement {
	font-family: monospace;
	background: #333;
	color: #999;
	padding: 2px 4px;
	border-radius: 6px;
	font-size: 10px;
}

.description {
	width: 21em;
	display: inline-block;
	margin: 5px;
}

.params {
	font-family: Roboto;
	display: grid;
	
	grid-template-columns: 100px 1fr;
	background: #333;
	color: #eee;
}

.rook {
	width: 35px;
	height: 46px;
	display: inline-block;
}

.periodical-point {
	font-size: 300%;
	margin: -20px -20px -20px 0;
	color: #0098dc;
	font-weight: 700;
}
