<html>
	<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta http-equiv='x-ua-compatible' content='ie=edge'>
	<link rel="stylesheet" href="css/mission.css" />
	<title>Arknights Mission</title>
</head>
<body>
	<div id="app">
		<dl>
			<dt>Today:</dt>
			<dd><v-date-picker
				:mode="mode"
				:formats="formats"
				v-model='selectedDate'
				/></dd>
			<dd>{{ selectedDate | timestamp }}</dd>
		</dl>
		<div id="dailies">
			<h1>{{ dailies.tagState === "ACT_MISSION_IMG" ? "Event Mission" : "Daily Mission" }}</h1>
			<dl>
				<dt>From:</dt>
				<dd>{{ dailies.startTime * 1000 | timestamp }}</dd>
				<dt>To:</dt>
				<dd>{{ dailies.endTime * 1000 | timestamp }}</dd>
			</dl>

			<ul class="rewards" v-for="rewards in dailyRewards">
				<li class="reward" v-for="(v, k) in rewards">
					<div class="reward-set">reward set - {{ ('000'+k).slice(-3) }}</div>
					<div>
						<span class="point-cost" v-for="i in v.periodicalPointCost">♜</span><span class="remaining-point-cost" v-for="i in (3-v.periodicalPointCost)">❌</span>
						<span style="display: inline-flex; justify-content: center; align-items: center; flex-direction: row;" v-for="item in v.rewards" :title="getItemName(item)"><img :src="getItemIcon(item)" width="40" height="40" style="object-fit: scale-down; "></span>
					</div>
				</li>
			</ul>

			<ul class="tasks" v-for="tasks in dailyTasks">
				<li class="task" v-for="(v, k) in tasks">
					<div class="rhodes"></div>
					<div class="requirement">requirement</div>
					<div class="description">{{ v.description }}</div>
					<div class="params">
						<div class="progress">
							<div class="progress-points">0/{{ v.param[v.param.length-1] }}</div>
							<div class="progress-bar"></div>
						</div>
						<div class="periodical">
							<span class="rook">♜</span><span class="times">×</span><span class="periodical-point">{{ v.periodicalPoint }}</span>
						</div>
					</div>
				</div>
			</ul>
		</div>
			
	</div>
	    <!-- 1. Link Vue Javascript -->
	    <script src='https://unpkg.com/vue/dist/vue.js'></script>

	    <!-- 2. Link VCalendar Javascript (Plugin automatically installed) -->
	    <script src='https://unpkg.com/v-calendar'></script>
		<script src="js/mission.js"></script>
	</body>
</html>